body {
    font-family: 'Lato', sans-serif;
}

a {
    color: #000;
}

.header {
    width: 100%;
    height: 90px;
    display: flex;
    background: #14cec7;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

.header h1 a {
    color: #fff;
    font-size: 2.5rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 15px 15px;
}

.header-menu {
    margin-right: 18px;
}

.header-menu ul li {
    display: inline-flex;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: 10px;
}

.header-menu ul li a {
    color: #fff;
    font-weight: bold;
}

.header-menu ul li a:hover {
    color: #e6e6e6;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.posts {
    margin: 80px 110px;
}

.post {
    margin-bottom: 60px;
}

.post img {
    max-width: 200px;
}

.post h1 {
    font-size: 2rem;
    margin-bottom: 2px;
}

.post h1 a:hover {
    color: #14cec7;
}

.post .autor {
    color: #aaa;
}

.post p::after {
    content: "";
    width: 70px;
    margin: 5px;
    display: flex;
    border: 2px solid #c9cbcc;
}

.side-right {
    display: flex;
    flex-direction: column;
}

.banner {
    width: 200px;
    margin: 30px;
    padding: 30px;
    line-height: 25px;
    box-shadow: 1px 1px 1px 1px rgba(148, 148, 148, 0.5);
}

.banner h1 {
    font-size: 1.3rem;
    text-transform: uppercase;
    margin: -10px 20px 10px 0;
}

.footer {
    width: 100%;
    height: 50px;
    display: flex;
    background: #5a6978;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.footer p a {
    color: #fff;
}

.footer p a:hover {
    color: #14cec7;
}

/* Post */

.post-detail {
    max-width: 700px;
    margin: 50px;
}

.post-detail h1 {
    font-size: 2rem;
    margin-bottom: 25px;
}

.post-detail p {
    margin-bottom: 25px;
    line-height: 20px;
}

@media screen and (max-width: 699px) {
    .container {
        flex-wrap: wrap;
    }

    .post-detail {
        padding: 20px;
    }

    .side-right {
        margin-left: 70px;
        margin-top: -100px;
    }
}

@media screen and (max-width: 574px) {
    .header {
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 10px;
    }

    .header h1 {
        margin: 0 auto;
    }

    .header-menu {
        margin: 0 auto;
    }

    .header-menu ul li {
        flex-wrap: wrap;
    }

    .header .menu-icon {
        display: flex;
    }

    .container {
        justify-content: center;
    }

    .side-right {
        margin-left: -5px;
        margin-top: -100px;
    }
}

@media screen and (max-width: 414px) {
    .header {
        height: 190px;
    }

    .header-menu {
        margin-left: 40px;
    }
}